* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.primary-box {
	height : 100vh;
	width  : 100vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	padding-top: 20vh;
}

.center-section {
	display: flex;
	flex-direction: column;
	place-items: center;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	gap: 10px;
	padding-bottom: 2vh;
}

.bio {
	display:flex;
	padding: 8px;
	text-align: center;
}

.blog-element { 
	max-width : 350px;
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

.blog-link {
	max-width : 250px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
}
